<!doctype html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>秒杀程序后台管理系统</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="__STATIC__/css/font.css">
        <link rel="stylesheet" href="__STATIC__/css/xadmin.css">
        <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
        <script src="__STATIC__/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        -->

    </head>
    <body class="index">
        <!-- 顶部开始 -->
        <div class="container">
            <div class="logo">
                <a href="{:url('@index/platform/index')}">秒杀程序后台管理系统</a></div>
            <div class="left_open">
                <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
            </div>
            <ul class="layui-nav right" lay-filter="">
                <li class="layui-nav-item">
                    <a href="javascript:;">{$username}</a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
                        <dd>
                            <a onclick="xadmin.open('个人信息','http://www.baidu.com')">个人信息</a></dd>
                        <dd>
                            <a onclick="xadmin.open('切换帐号','http://www.baidu.com')">切换帐号</a></dd>
                        <dd>
                            <a href="./login.html">退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item to-index">
                    <a href="{:url('@index/index/index')}">前台首页</a></li>
            </ul>
        </div>
        <!-- 顶部结束 -->
        <!-- 中部开始 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="信息管理">&#xe6b8;</i>
                            <cite>信息管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{:url('@index/platform/index')}">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>用户账号信息管理</cite></a>
                            </li>
                            <li>
                                <a href="{:url('@index/platform/good')}">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>商品信息管理</cite></a>
                            </li>
                            <li>
                                <a href="{:url('@index/platform/order')}">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>购买记录管理</cite></a>
                            </li>
                            <li>
                                <a href="{:url('@index/platform/log')}">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>网站日志管理</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="其他">&#xe723;</i>
                            <cite>其他</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{:url('@index/platform/add')}">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>综合添加处理</cite></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="x-slide_left"></div> -->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        {__CONTENT__}
        <!-- 右侧主体结束 -->
        <!-- 中部结束 -->
        
    </body>
    
</html>